<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCw4p1v8UtL_7AXWA_TNvd5VbbyWjZ16_w</string>
	<key>GCM_SENDER_ID</key>
	<string>604926657262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>qudratsafarov.com.MyShop</string>
	<key>PROJECT_ID</key>
	<string>myshop-2e20b</string>
	<key>STORAGE_BUCKET</key>
	<string>myshop-2e20b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604926657262:ios:0e81756d25fbd347aba9ff</string>
</dict>
</plist>